# Data Dictionary:
1. id: unique identifier (int)
2. gender: "Male", "Female" or "Other" (object)
3. age: age of the patient (int)
4. hypertension: 0 if the patient doesn't have hypertension, 1 if the patient has hypertension (int)
5. heart_disease: 0 if the patient doesn't have any heart diseases, 1 if the patient has a heart disease (int)
6. ever_married: "No" or "Yes" (object)
7. work_type: "children", "Govt_jov", "Never_worked", "Private" or "Self-employed" (object)
8. Residence_type: "Rural" or "Urban" (object)
9. avg_glucose_level: average glucose level in blood (int)
10. bmi: body mass index (int)
11. smoking_status: "formerly smoked", "never smoked", "smokes" or "Unknown"* (object)
12. stroke: 1 if the patient had a stroke or 0 if not (int)

# Imports

In [22]:
import pandas as pd
import numpy as np

# Load Data

In [2]:
# Load Data
df = pd.read_csv('data/healthcare-dataset-stroke-data.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [3]:
df.shape

(5110, 12)

> There are 5110 rows and 12 columns

# Data Cleaning

In [4]:
# Make all column titles lower case
df.columns = df.columns.str.lower()
df.columns

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [5]:
# Delete Unnecessary Columns
df.drop(columns='id',inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             5110 non-null   object
 1   age                5110 non-null   float64
 2   hypertension       5110 non-null   int64
 3   heart_disease      5110 non-null   int64
 4   ever_married       5110 non-null   object
 5   work_type          5110 non-null   object
 6   residence_type     5110 non-null   object
 7   avg_glucose_level  5110 non-null   float64
 8   bmi                4909 non-null   float64
 9   smoking_status     5110 non-null   object
 10  stroke             5110 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 439.3+ KB

> The 'id' column was removed since it was a unique identifier to each row.

In [6]:
# Check for Duplicated Rows
dup = df.duplicated().sum()
print(f'There are {dup} in the data set.')

There are 0 in the data set.

In [7]:
# Find Missing Values
df.isna().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

> There are 201 missing values in the 'bmi' column

In [9]:
# Percent of missing bmi values
# Total bmi values
total_bmi_count = df['bmi'].value_counts().sum()

# Missing bmi values
missing_bmi_count = df['bmi'].isna().sum()


# Percent of missing bmi values
missing_bmi_count / total_bmi_count

0.040945202688938684

> 4.1% of the bmi column is missing. Since this is a low percentage these values will be dropped

In [10]:
# Drop missing values in 'bmi' column
df.dropna(subset=['bmi'], inplace=True)
df.isna().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [11]:
# Checking the Data Types Compared to Data Dictionary
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4909 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4909 non-null   object
 1   age                4909 non-null   float64
 2   hypertension       4909 non-null   int64
 3   heart_disease      4909 non-null   int64
 4   ever_married       4909 non-null   object
 5   work_type          4909 non-null   object
 6   residence_type     4909 non-null   object
 7   avg_glucose_level  4909 non-null   float64
 8   bmi                4909 non-null   float64
 9   smoking_status     4909 non-null   object
 10  stroke             4909 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 460.2+ KB

> All data types match the data dictionary.

In [12]:
# Identify Inconsistencies in Categorical Values
for i in df.select_dtypes(include='object'):
  count = df[i].value_counts()
  print(count)

Female    2897
Male      2011
Other        1
Name: gender, dtype: int64
Yes    3204
No     1705
Name: ever_married, dtype: int64
Private          2811
Self-employed     775
children          671
Govt_job          630
Never_worked       22
Name: work_type, dtype: int64
Urban    2490
Rural    2419
Name: residence_type, dtype: int64
never smoked       1852
Unknown            1483
formerly smoked     837
smokes              737
Name: smoking_status, dtype: int64

In [13]:
# Remove row with the value other since there is only 1
df = df.loc[df['gender']!= 'Other']
df['gender'].value_counts()

Female    2897
Male      2011
Name: gender, dtype: int64

In [14]:
# Make'gender' column binary and change name to is_male
df['gender'].replace({'Male':1,'Female':0}, inplace=True)
df.rename(columns={'gender':'is_male'}, inplace=True)
df.head()

,is_male,age,hypertension,heart_disease,ever_married,work_type,residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,1,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,0,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,0,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,1,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1

In [15]:
df['work_type'].replace('children', 'Children', inplace=True)
df['work_type'].value_counts()

Private          2810
Self-employed     775
Children          671
Govt_job          630
Never_worked       22
Name: work_type, dtype: int64

In [16]:
df['smoking_status'].replace({'never smoked': 'Never Smoked', 'formerly smoked': 'Formerly Smoked', 'smokes': 'Smokes'}, inplace=True)
df['smoking_status'].value_counts()

Never Smoked       1852
Unknown            1483
Formerly Smoked     836
Smokes              737
Name: smoking_status, dtype: int64

In [17]:
# Make 'ever_married' column binary
df['ever_married'].replace({'Yes':1,'No':0}, inplace=True)
df['ever_married'].value_counts()

1    3204
0    1704
Name: ever_married, dtype: int64

In [18]:
# Make 'residence_type' column binary and change column name to 'is_urban'
df['residence_type'].replace({'Rural':0,'Urban':1}, inplace=True)
df.rename(columns={'residence_type':'is_urban'}, inplace=True)
df.head()

,is_male,age,hypertension,heart_disease,ever_married,work_type,is_urban,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,Private,1,228.69,36.6,Formerly Smoked,1
2,1,80.0,0,1,1,Private,0,105.92,32.5,Never Smoked,1
3,0,49.0,0,0,1,Private,1,171.23,34.4,Smokes,1
4,0,79.0,1,0,1,Self-employed,0,174.12,24.0,Never Smoked,1
5,1,81.0,0,0,1,Private,1,186.21,29.0,Formerly Smoked,1

In [19]:
# Inspect Data for Impossible Values
df.describe()

,is_male,age,hypertension,heart_disease,ever_married,is_urban,avg_glucose_level,bmi,stroke
count,4908.000000,4908.000000,4908.000000,4908.000000,4908.000000,4908.000000,4908.000000,4908.00000,4908.000000
mean,0.409739,42.868810,0.091891,0.049511,0.652812,0.507335,105.297402,28.89456,0.042584
std,0.491836,22.556128,0.288901,0.216954,0.476125,0.499997,44.425550,7.85432,0.201937
min,0.000000,0.080000,0.000000,0.000000,0.000000,0.000000,55.120000,10.30000,0.000000
25%,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,77.067500,23.50000,0.000000
50%,0.000000,44.000000,0.000000,0.000000,1.000000,1.000000,91.680000,28.10000,0.000000
75%,1.000000,60.000000,0.000000,0.000000,1.000000,1.000000,113.495000,33.10000,0.000000
max,1.000000,82.000000,1.000000,1.000000,1.000000,1.000000,271.740000,97.60000,1.000000

> Although not impossible a min value of 10.3 and max value of 97.6 for BMI are unlikely. This will be  further explored in EDA

In [20]:
# Inspect categorical statistics
df.describe(exclude='number')

       work_type smoking_status
count       4908           4908
unique         5              4
top      Private   Never Smoked
freq        2810           1852

In [21]:
# Save processed dataframe to .csv file
df.to_csv('data/processed_df.csv')